{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
{% endblock %}

{% block body %}
    <h2>Storingen</h2>
    <div class="col-md-5">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th class="col-md-2">Station</th>
                        <th class="col-md-4">Date</th>
                        <th class="col-md-4">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for malfunction in malfunctions %}
                        <tr>
                            <td><a href="{{ path('malfunction_detail', {'name': malfunction.getStation().getName()}) }}">{{ malfunction.getStation().getName() }}</a></td>
                            <td>{{ malfunction.getDATE()|date('Y-m-d H:i:s') }}</td>
                            <td>{{ malfunction.getStatus() }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">No malfunctions found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <a href="{{ path('app_detect_malfunctions') }}" class="btn btn-danger">Detect Malfunctions in Old Data</a>
    </div>
{% endblock %}
