{# templates/weather/index.html.twig #}
{% macro weatherIcons(frshtt) %}
    {% set icons = [] %}
    {% if frshtt|slice(0, 1) == '1' %}
        {% set icons = icons|merge(['<i class="bi bi-thermometer-snow" title="Vorst"></i>']) %}
    {% endif %}
    {% if frshtt|slice(1, 1) == '1' %}
        {% set icons = icons|merge(['<i class="bi bi-cloud-rain" title="Regen"></i>']) %}
    {% endif %}
    {% if frshtt|slice(2, 1) == '1' %}
        {% set icons = icons|merge(['<i class="bi bi-snow" title="Sneeuw"></i>']) %}
    {% endif %}
    {% if frshtt|slice(3, 1) == '1' %}
        {% set icons = icons|merge(['<i class="bi bi-cloud-hail" title="Hagel"></i>']) %}
    {% endif %}
    {% if frshtt|slice(4, 1) == '1' %}
        {% set icons = icons|merge(['<i class="bi bi-cloud-lightning" title="Onweer"></i>']) %}
    {% endif %}
    {% if frshtt|slice(5, 1) == '1' %}
        {% set icons = icons|merge(['<i class="bi bi-tornado" title="Tornado"></i>']) %}
    {% endif %}
    {{ icons|join(' ')|raw }}
{% endmacro %}

{% import _self as macros %}

{% extends 'base.html.twig' %}

{% block title %}Weer Data{% endblock %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
<div class="col-md-3">
    <div class="card text-center">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Filter</h2>
                <form method="get" action="{{ path('app_data_acquisition_data') }}">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="stationName">Station ID</label>
                                <input type="text" id="stationName" name="stationName" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="countryCode">Landscode</label>
                                <input type="text" id="countryCode" name="countryCode" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="startDateTime">Starttijd</label>
                                <input type="datetime-local" id="startDateTime" name="startDateTime" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="endDateTime">Eindtijd</label>
                                <input type="datetime-local" id="endDateTime" name="endDateTime" class="form-control">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Kolommen</h2>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label" for="tempColumn">
                            Temperature
                        </label>
                        <input class="form-check-input column-toggle" type="checkbox" value="" id="tempColumn" checked>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="dauwpuntColumn">
                            Dauwpunt
                        </label>
                        <input class="form-check-input column-toggle" type="checkbox" value="" id="dauwpuntColumn" checked>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="luchtdrukColumn">
                            Luchtdruk
                        </label>
                        <input class="form-check-input column-toggle" type="checkbox" value="" id="luchtdrukColumn" checked>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="bewolkingColumn">
                            Bewolking
                        </label>
                        <input class="form-check-input column-toggle" type="checkbox" value="" id="bewolkingColumn" checked>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="zichtColumn">
                            Zicht
                        </label>
                        <input class="form-check-input column-toggle" type="checkbox" value="" id="zichtColumn" checked>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="windColumn">
                            Wind
                        </label>
                        <input class="form-check-input column-toggle" type="checkbox" value="" id="windColumn" checked>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="windrichtingColumn">
                            Windrichting
                        </label>
                        <input class="form-check-input column-toggle" type="checkbox" value="" id="windrichtingColumn" checked>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="neerslagColumn">
                            Neerslag
                        </label>
                        <input class="form-check-input column-toggle" type="checkbox" value="" id="neerslagColumn" checked>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="sneeuwColumn">
                            Sneeuw
                        </label>
                        <input class="form-check-input column-toggle" type="checkbox" value="" id="sneeuwColumn" checked>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    <h1>Weerdata</h1>
    <table class="table table-sm table-borderless table-hover text-center">
        <thead class="border-bottom">
        <tr>
            <th>Datum</th>
            <th>Tijd</th>
            <th>Station</th>
            <th>Land</th>
            <th class="tempColumn">Temperatuur</th>
            <th class="dauwpuntColumn">Dauwpunt</th>
            <th class="luchtdrukColumn">Luchtdruk (Station / Zee)</th>
            <th class="bewolkingColumn">Bewolking</th>
            <th class="zichtColumn">Zicht</th>
            <th class="windColumn">Wind</th>
            <th class="windrichtingColumn">Windrichting</th>
            <th class="neerslagColumn">Neerslag</th>
            <th class="sneeuwColumn">Sneeuw</th>
            <th>Evenement</th>
        </tr>
        </thead>
        <tbody>
        {% for weather in weatherData %}
            <tr>
                <td>{{ weather.DATE|date('Y-m-d') }}</td>
                <td>{{ weather.TIME|date('H:i:s') }}</td>
                <td>{{ weather.station.getName }}</td>
                <td>{{ weather.station.geolocation.countryEntity.getCountryCode }}</td>
                <td class="tempColumn">{{ weather.TEMP }}℃</td>
                <td class="dauwpuntColumn">{{ weather.DEWP }}℃</td>
                <td class="luchtdrukColumn">{{ weather.STP }}hPa / {{ weather.SLP }}hPa</td>
                <td class="bewolkingColumn">{{ weather.CLDC }}%</td>
                <td class="zichtColumn">{{ weather.VISIB }}</td>
                <td class="windColumn">{{ weather.WDSP }}</td>
                <td class="windrichtingColumn">{{ weather.WNDDIR }}°</td>
                <td class="neerslagColumn">{{ weather.PRCP != null ? weather.PRCP ~ 'cm' : '' }}</td>
                <td class="sneeuwColumn">{{ weather.SNDP != null ? weather.SNDP ~ 'cm' : '' }}</td>
                <td>{{ macros.weatherIcons(weather.FRSHTT) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Geen weerdata beschikbaar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav>
        <ul class="pagination justify-content-center">
            {# "Eerste" button #}
            <li class="page-item{% if current_page == 1 %} disabled{% endif %}">
                <a class="page-link" href="{{ path('app_data_acquisition_data', {'page': 1}) }}">Eerste</a>
            </li>

            {# "Previous" button #}
            <li class="page-item{% if current_page == 1 %} disabled{% endif %}">
                <a class="page-link" href="{{ path('app_data_acquisition_data', {'page': current_page - 1}) }}">Vorige</a>
            </li>

            {# Calculate start and end page numbers for the 5-page range #}
            {% set start_page = max(1, current_page - 2) %}
            {% set end_page = min(total_pages, start_page + 4) %}
            {% set start_page = max(1, end_page - 4) %}

            {# Page number buttons #}
            {% for page in start_page..end_page %}
                <li class="page-item{% if page == current_page %} active{% endif %}">
                    <a class="page-link"
                       href="{{ path('app_data_acquisition_data', {'page': page}) }}">{{ page }}</a>
                </li>
            {% endfor %}

            {# "Next" button #}
            <li class="page-item{% if current_page == total_pages %} disabled{% endif %}">
                <a class="page-link" href="{{ path('app_data_acquisition_data', {'page': current_page + 1}) }}">Volgende</a>
            </li>

            {# "Laatste" button #}
            <li class="page-item{% if current_page == total_pages %} disabled{% endif %}">
                <a class="page-link" href="{{ path('app_data_acquisition_data', {'page': total_pages}) }}">Laatste</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}
{% block body_scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var checkboxes = document.querySelectorAll('.column-toggle');
            checkboxes.forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    var columns = document.querySelectorAll('.' + checkbox.id);
                    columns.forEach(function(column) {
                        if (checkbox.checked) {
                            column.style.display = '';
                        } else {
                            column.style.display = 'none';
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}