{% macro weatherIcons(frshtt) %}
    {% set icons = [] %}
    {% if frshtt|slice(0, 1) == '1' %}
        {% set icons = icons|merge(['<i class="bi bi-thermometer-snow" title="Vorst"></i>']) %}
    {% endif %}
    {% if frshtt|slice(1, 1) == '1' %}
        {% set icons = icons|merge(['<i class="bi bi-cloud-rain" title="Regen"></i>']) %}
    {% endif %}
    {% if frshtt|slice(2, 1) == '1' %}
        {% set icons = icons|merge(['<i class="bi bi-snow" title="Sneeuw"></i>']) %}
    {% endif %}
    {% if frshtt|slice(3, 1) == '1' %}
        {% set icons = icons|merge(['<i class="bi bi-cloud-hail" title="Hagel"></i>']) %}
    {% endif %}
    {% if frshtt|slice(4, 1) == '1' %}
        {% set icons = icons|merge(['<i class="bi bi-cloud-lightning" title="Onweer"></i>']) %}
    {% endif %}
    {% if frshtt|slice(5, 1) == '1' %}
        {% set icons = icons|merge(['<i class="bi bi-tornado" title="Tornado"></i>']) %}
    {% endif %}
    {{ icons|join(' ')|raw }}
{% endmacro %}

{% import _self as macros %}

{% extends 'base.html.twig' %}

{% block title %}Station Details{% endblock %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1>{{ station.name }}</h1>
                <div id="mapid" style="height: 250px; width: 250px;"></div>
                <p>{{ station.geolocation ? station.geolocation.countryEntity.country : 'N/A' }}</p>
                {% if station.geolocation and station.geolocation.state %}
                {% endif %}
                <p>Staat: {{ station.geolocation.state }}</p>
                <p>Hoogte: {{ station.elevation }}</p>
            </div>

            <div class="col-md-9">
                <h2>Weerdata</h2>
                <button id="switchViewButton" class="btn btn-primary">Switch to Chart View</button>
                <div id="chartView" style="display: none;">
                    <canvas id="weatherChart"></canvas>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Datum</th>
                            <th>Tijd</th>
                            <th>Temperatuur</th>
                            <th>Dauwpunt</th>
                            <th>Luchtdruk</th>
                            <th>Luchtdruk op zeeniveau</th>
                            <th>Zicht</th>
                            <th>Wind</th>
                            <th>Richting</th>
                            <th>Neerslag</th>
                            <th>Sneeuw</th>
                            <th>Bewolking</th>
                            <th>Evenement</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for weather in station.weather %}
                            <tr>
                                <td>{{ weather.DATE|date('Y-m-d') }}</td>
                                <td>{{ weather.TIME|date('H:i') }}</td>
                                <td>{{ weather.TEMP }}℃</td>
                                <td>{{ weather.DEWP }}℃</td>
                                <td>{{ weather.STP }}</td>
                                <td>{{ weather.SLP }}</td>
                                <td>{{ weather.VISIB }}</td>
                                <td>{{ weather.WDSP }}</td>
                                <td>{{ weather.WNDDIR }}</td>
                                <td>{{ weather.PRCP }}</td>
                                <td>{{ weather.SNDP }}</td>
                                <td>{{ weather.CLDC }}%</td>
                                <td>{{ macros.weatherIcons(weather.FRSHTT) }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="14">Geen weerdata beschikbaar voor dit station.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var mymap = L.map('mapid').setView([{{ station.latitude }}, {{ station.longitude }}], 5);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(mymap);

        L.marker([{{ station.latitude }}, {{ station.longitude }}]).addTo(mymap)
            .bindPopup("<b>" + "{{ station.name }}" + "</b><br />" + "{{ station.geolocation ? station.geolocation.countryEntity.country : 'N/A' }}").openPopup();

        var labels = [];
        var tempData = [];
        var dauwpuntData = [];
        var luchtdrukData = [];
        var luchtdrukZeeData = [];
        var zichtData = [];
        var windData = [];
        var richtingData = [];
        var neerslagData = [];
        var sneeuwData = [];
        var bewolkingData = [];

        {% for weather in station.weather %}
        labels.push('{{ weather.DATE|date('Y-m-d') }}');
        tempData.push({{ weather.TEMP }});
        dauwpuntData.push({{ weather.DEWP }});
        luchtdrukData.push({{ weather.STP }});
        luchtdrukZeeData.push({{ weather.SLP }});
        zichtData.push({{ weather.VISIB }});
        windData.push({{ weather.WDSP }});
        richtingData.push({{ weather.WNDDIR }});
        neerslagData.push({{ weather.PRCP }});
        sneeuwData.push({{ weather.SNDP }});
        bewolkingData.push({{ weather.CLDC }});
        {% endfor %}

        document.getElementById('switchViewButton').addEventListener('click', function() {
            var tableView = document.querySelector('.table-responsive');
            var chartView = document.getElementById('chartView');

            if (tableView.style.display === 'none') {
                tableView.style.display = 'block';
                chartView.style.display = 'none';
                this.textContent = 'Switch to Chart View';
            } else {
                tableView.style.display = 'none';
                chartView.style.display = 'block';
                this.textContent = 'Switch to Table View';

                var ctx = document.getElementById('weatherChart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Temperature',
                            data: tempData,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1,
                            yAxisID: 'y'
                        },
                            {
                                label: 'Dauwpunt',
                                data: dauwpuntData,
                                borderColor: 'rgb(255, 99, 132)',
                                tension: 0.1,
                                yAxisID: 'y'
                            },
                            {
                                label: 'Luchtdruk',
                                data: luchtdrukData,
                                borderColor: 'rgb(153, 102, 255)',
                                tension: 0.1,
                                yAxisID: 'y1'
                            },
                            {
                                label: 'Luchtdruk op zeeniveau',
                                data: luchtdrukZeeData,
                                borderColor: 'rgb(255, 159, 64)',
                                tension: 0.1,
                                yAxisID: 'y1'
                            },
                            {
                                label: 'Zicht',
                                data: zichtData,
                                borderColor: 'rgb(255, 205, 86)',
                                tension: 0.1,
                                yAxisID: 'y1'
                            },
                            {
                                label: 'Wind',
                                data: windData,
                                borderColor: 'rgb(75, 192, 192)',
                                tension: 0.1,
                                yAxisID: 'y1'
                            },
                            {
                                label: 'Richting',
                                data: richtingData,
                                borderColor: 'rgb(54, 162, 235)',
                                tension: 0.1,
                                yAxisID: 'y1'
                            },
                            {
                                label: 'Neerslag',
                                data: neerslagData,
                                borderColor: 'rgb(153, 102, 255)',
                                tension: 0.1,
                                yAxisID: 'y1'
                            },
                            {
                                label: 'Sneeuw',
                                data: sneeuwData,
                                borderColor: 'rgb(201, 203, 207)',
                                tension: 0.1,
                                yAxisID: 'y1'
                            },
                            {
                                label: 'Bewolking',
                                data: bewolkingData,
                                borderColor: 'rgb(255, 99, 132)',
                                tension: 0.1,
                                yAxisID: 'y1'
                            }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            },
                            y1: {
                                position: 'right',
                                beginAtZero: true,
                                grid: {
                                    drawOnChartArea: false, // only want the grid lines for one axis to show up
                                },
                            },
                        }
                    }
                });
            }
        });
    </script>
    {{ parent() }}
{% endblock %}