{% extends 'base.html.twig' %}

{% block title %}Station Details{% endblock %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{{ station.name }}</h1>
                <div id="mapid" style="height: 250px; width: 500px;"></div>
                <p>{{ station.geolocation ? station.geolocation.countryEntity.country : 'N/A' }}</p>
                {% if station.geolocation and station.geolocation.state %}
                {% endif %}
                <p>Staat: {{ station.geolocation.state }}</p>
                <p>Hoogte: {{ station.elevation }}</p>
            </div>

            <div class="col-md-6">
                <h2>Weerdata</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Temperature</th>
                        <th>Dew Point</th>
                        <!-- Add more columns as needed -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for weather in station.weather %}
                        <tr>
                            <td>{{ weather.DATE|date('Y-m-d') }}</td>
                            <td>{{ weather.TIME|date('H:i') }}</td>
                            <td>{{ weather.TEMP }}</td>
                            <td>{{ weather.DEWP }}</td>
                            <!-- Add more data as needed -->
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">No weather data available for this station.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script>
        var mymap = L.map('mapid').setView([{{ station.latitude }}, {{ station.longitude }}], 5);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(mymap);

        L.marker([{{ station.latitude }}, {{ station.longitude }}]).addTo(mymap)
            .bindPopup("<b>" + "{{ station.name }}" + "</b><br />" + "{{ station.geolocation ? station.geolocation.countryEntity.country : 'N/A' }}").openPopup();
    </script>
    {{ parent() }}
{% endblock %}