{% extends 'contract_beheer/index.html.twig' %}

{% block title %}Voeg contract toe{% endblock %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <style>
        .checkbox-vertical .form-check {
            display: block;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col-md-8">
        <h1 class="mb-4">Voeg contract toe</h1>

        <div class="card">
            <div class="card-body">
                {{ form_errors(ContractForm) }}

                {{ form_start(ContractForm, {'attr': {'class': 'form'}}) }}
                <div class="mb-3">
                    {{ form_label(ContractForm.name_holder, 'Naam contracthouder', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.name_holder, {'attr': {'class': 'form-control'}, 'value': name}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.date_start, 'Startdatum', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.date_start, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.date_end, 'Vervaldatum', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.date_end, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.country_code, 'Landcode', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.country_code, {'attr': {'class': 'form-control', 'novalidate': 'novalidate'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.region, 'Regio', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.region, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.coordinatesType, 'Coördinaten', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.coordinatesType, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.longitude, 'longitude', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.longitude, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.latitude, 'latitude', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.latitude, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.elevation, 'elevation', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.elevation, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class='card'>
                    <div class='card-body'>
                        <div class="form-check">
                            {{ form_label(ContractForm.TEMP, 'TEMP', {'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_widget(ContractForm.TEMP, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                        <div class="form-check">
                            {{ form_label(ContractForm.DEWP, 'DEWP', {'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_widget(ContractForm.DEWP, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                        <div class="form-check">
                            {{ form_label(ContractForm.STP, 'STP', {'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_widget(ContractForm.STP, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                        <div class="form-check">
                            {{ form_label(ContractForm.SLP, 'SLP', {'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_widget(ContractForm.SLP, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                        <div class="form-check">
                            {{ form_label(ContractForm.VISIB, 'VISIB', {'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_widget(ContractForm.VISIB, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                        <div class="form-check">
                            {{ form_label(ContractForm.WDSP, 'WDSP', {'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_widget(ContractForm.WDSP, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                        <div class="form-check">
                            {{ form_label(ContractForm.PRCP, 'PRCP', {'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_widget(ContractForm.PRCP, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                        <div class="form-check">
                            {{ form_label(ContractForm.SNDP, 'SNDP', {'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_widget(ContractForm.SNDP, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                        <div class="form-check">
                            {{ form_label(ContractForm.FRSHTT, 'FRSHTT', {'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_widget(ContractForm.FRSHTT, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                        <div class="form-check">
                            {{ form_label(ContractForm.CLDC, 'CLDC', {'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_widget(ContractForm.CLDC, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                        <div class="form-check">
                            {{ form_label(ContractForm.WNDDIR, 'WNDDIR', {'label_attr': {'class': 'form-check-label'}}) }}
                            {{ form_widget(ContractForm.WNDDIR, {'attr': {'class': 'form-check-input'}}) }}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Voeg toe</button>
                {{ form_end(ContractForm) }}
            </div>
        </div>
    </div>
{% endblock %}
