{% extends 'contract_beheer/index.html.twig' %}

{% block title %}AddContract{% endblock %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4">Add Contract</h1>

        <div class="card">
            <div class="card-body">
                {{ form_errors(ContractForm) }}

                {{ form_start(ContractForm, {'attr': {'class': 'form'}}) }}
                <div class="mb-3">
                    {{ form_label(ContractForm.name_holder, 'Contract holder name', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.name_holder, {'attr': {'class': 'form-control'}, 'value': name}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.date_start, 'Start date', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.date_start, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.date_end, 'Expiration date', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.date_end, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.country_code, 'Country code', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.country_code, {'attr': {'class': 'form-control', 'novalidate': 'novalidate'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.region, 'Region', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.region, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.coordinatesType, 'Coordinates', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.coordinatesType, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.longitude, 'longitude', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.longitude, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.latitude, 'latitude', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.latitude, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.elevation, 'elevation', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.elevation, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.TEMP, 'TEMP', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.TEMP, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.DEWP, 'DEWP', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.DEWP, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.STP, 'STP', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.STP, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.SLP, 'SLP', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.SLP, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.VISIB, 'VISIB', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.VISIB, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.WDSP, 'WDSP', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.WDSP, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.PRCP, 'PRCP', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.PRCP, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.SNDP, 'SNDP', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.SNDP, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.FRSHTT, 'FRSHTT', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.FRSHTT, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.CLDC, 'CLDC', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.CLDC, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(ContractForm.WNDDIR, 'WNDDIR', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(ContractForm.WNDDIR, {'attr': {'class': 'form-control'}}) }}
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
                {{ form_end(ContractForm) }}
            </div>
        </div>
    </div>
{% endblock %}
