{% extends 'base.html.twig' %}

{% block title %}Edit Subscription{% endblock %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Edit subscription for {{ name }}</h1>        
        {{ form_start(editForm, {'attr': {'class': 'form'}}) }}
        <div class='mb-3'>
            {{ form_label(editForm.name_holder, 'Name', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(editForm.name_holder, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class='mb-3'>
            {{ form_label(editForm.date_start, 'Start date', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(editForm.date_start, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class='mb-3'>
            {{ form_label(editForm.date_end, 'End date', {'label_attr': {'class': 'form-label'}}) }} 
            {{ form_widget(editForm.date_end, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class='mb-3'>
            {{ form_label(editForm.station, 'station', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(editForm.station, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class='mb-3'>
            {{ form_widget(editForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
        {{ form_end(editForm) }}
    </div>
{% endblock %}
