{% extends 'administratie/index.html.twig' %}

{% block title %}Administratie{% endblock %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="col-md-8">
        <h1 class="mb-4">Registreer Account</h1>

        <div class="card">
            <div class="card-body">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
                <div class="mb-3">
                    {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(registrationForm.plainPassword, 'Password', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                </div>

                <button type="submit" class="btn btn-primary">Registreer</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}