{% extends 'base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img src="{{ asset('images/logoIWA.png') }}" alt="IWA" height="50" class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {{ controller_name == 'HomeController' ? 'active' : '' }}" aria-current="page" href="{{ path('app_home') }}">Home</a>
                    </li>
                    {% if is_granted('ROLE_DATA') %}
                        <li class="nav-item">
                            <a class="nav-link {{ controller_name == 'DataAcquisitionController' ? 'active' : '' }}" href="{{ path('app_data_acquisition') }}">Data Acquisition</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_CONTRACT') %}
                        <li class="nav-item">
                            <a class="nav-link {{ controller_name == 'ContractBeheerController' ? 'active' : '' }}" href="{{ path('app_contract_beheer') }}">Contractbeheer</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link {{ controller_name == 'AdministratieController' ? 'active' : '' }}" href="{{  path('app_administratie') }}">Administratie</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ app.user.email }}
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ path('app_profiel') }}">Profiel</a></li>
                        <li><a class="dropdown-item" href="#">Instellingen</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" href="{{ path('_logout_main') }}">Log uit</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% block body_scripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}